.mainScreen{
    background-color: rgb(111, 119, 212);
   height: auto;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items:center ;

}
.mainCard{
    height: 250px;
    width: 250px;
    background-color: rgb(200, 246, 192);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap:10px;
    margin: 50px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}
.ulList{
   display: flex;
   flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.pokemonImage{
    height: 150px;
    width:150px
}

.filterFields{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dropdown{
    width: 100px;
    height: 30px;
}
.mainHead{
    background-color: rgb(245, 50, 50);
    width: 100%;
    color: white;
    font-size: xx-large;
    display: flex;
    justify-content: space-around;
}
.loadButton{
    height: 50px;
    width: 100px;
    padding: 10px;
    margin: 10px 20px;
}
.buttonSection{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ability{
    background-color: rgb(223, 139, 139);
    padding: 5px;
    border-radius: 5px;
}